
  /*
  *
  * Celebration Animals
  *
  */

  /* Test drive on Cubi Bezier here http://cubic-bezier.com/ */
  .celebration-animal {
    background-image: url(../img/party-animals--blue-cow-1000px.png);
    background-size: cover;
    width: 500px;
    height: 500px;
    position: absolute;
    animation: flyTopRight 1.6s cubic-bezier(.13,.66,.99,.35);
    z-index: 50;
  }

  @keyframes flyTopRight {
    from { 
      bottom: -40%;
      left: -20%; 
    }
    to {
      bottom: 90%;
      left: 70%;
    }
  }


  /*
  *
  * Celebration Confettis
  *
  */

  canvas#confeti {
    position:absolute;
    bottom:0; 
    right:0;
    width:100%;
    height:100%;
    z-index: 1000;
  }