  /* 
  * 
  * Conversation Main Content
  *
  */  

  .conversation {
    height: calc(100% - 50px);
    overflow: hidden;
    padding: 20px;
    padding-bottom: 0;
  }
  
  /* Block of one or several messages from the same sender/reader */
  .messages {
    margin-bottom: 14px;
    clear:both;
  }

  /* Block of messages aligned left because received (in grey) */
  .messages--received {
    float: left;
    text-align: left;
  }

  /* Block of messages aligned right because sent (in blue) */
  .messages--sent {
    float: right;
    text-align: right;
  }

  /* Message wrapper containing spinner and message instance */
  .message-wrapper {
  }

  /* A single instance of a message from a sender/receiver block */
  .message {
    margin-bottom: 2px;
    clear: both;
    padding: 7px 13px;
    font-size: 18px;
    border-radius: 15px;
    line-height: 1.4;
  }

  /* A simple thumb post */
  .message--thumb {
    background-color: transparent !important;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    border-radius: 0px !important;
  }

  /*
  *
  * Messages RECEIVED 
  * Color and rounding
  *
  */

  .messages--received .message-wrapper .message {
    float: left;
    background-color: #ddd;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  .messages--received .message-wrapper:first-child .message {
    border-top-left-radius: 15px;
  }

  .messages--received .message-wrapper:last-child .message {
    border-bottom-left-radius: 15px;
  }

  /* 
  *
  * Messages SENT
  *
  */

  .messages--sent .message-wrapper .message {
    float: right;
    background-color: #1998e6;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  .messages--sent .message-wrapper:first-child .message {
    border-top-right-radius: 15px;
  }

  .messages--sent .message-wrapper:last-child .message {
    border-bottom-right-radius: 15px;
  }
  

  /*
  *
  * Spinner
  *
  */

  div[class^="sp-"] {
    clear: both;
  }

  .spinme-sent {
    display: inline-block;
    padding: 15px 0 15px 20px;
    font-size: 14px;
    border-radius: 30px;
    line-height: 1.25em;
    font-weight: 100;
    opacity: 0.2;
  }
  
  .spinme-received {
    display: inline-block;
    padding: 15px 20px 15px 0;
    font-size: 14px;
    color: #ccc;
    border-radius: 30px;
    line-height: 1.25em;
    font-weight: 100;
    opacity: 0.2;
  }
  
  .spinner {
    margin: 0;
    width: 30px;
    text-align: center;
  }
  
  .spinner > div {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    background: rgba(0,0,0,1);
  }
   
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0)
    }
    40% {
      -webkit-transform: scale(1.0)
    }
  }
  
  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }  